<div class="container">
<h1> League Home Page </h1>


Slack sign in link
<a href="/auth/slack"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>

<section class="latest">
    <div class="header">
        <h2 id="maillist">Latest news</h2>
    </div>
    <div class="content">
        <iframe id="googleDoc"
                class="googleDoc"
                src="https://docs.google.com/document/d/e/2PACX-1vQ0rjc5MymKOhnVHf3cKcatYo6LzZyDgStzQgxQqsm4vTo7RVO0Lm1aKVtKjyXN-vEDOYHzhLo8FZ07/pub"
                width="100%"
                height="500px">
        </iframe>
  </div>
</section>
</div>