<div class="container">
<p>
  To register, you must first have a Vassal League Slack account. 
  link_to('To request an invite, visit this link.', https://xwingvassalleagueslack.herokuapp.com/)
</p>
<p>
  Then, simply sign into List Fortress with your Vassal League Slack account by clicking the sign in with Slack Button. 
  If you are prompted to select a workspace, enter xwvl 
  Using a different workspace will result in an error
</p>
</div>