<div class='container'>



<table class="table">
  <tr>
    <%# <th>Divisional Rank</th> %>
    <th>Player Name</th>
    <th>Wins</th>
    <th>MoV</th>
  <tr>

  <% @division.league_participants.each do |participant| %>
    <tr>
      <%# @display_name = participant.user ? participant.user&.display_name : participant.list_juggler_name %>
      <td><%= link_to(participant.name, league_participant_path(participant)) %></td>
      <td><%= participant.score ? participant.score : '?' %></td>
      <td><%= participant.mov ? participant.mov : '?' %></td>
    <tr>

  <% end %>
</table>

</div>