<div class="container">

<h1 class="text-center"> About List Fortress </h1>

<div class="row">
  <section class="col">
    <h3 class="text-center">What is it?</h3>
    <p>
      Second Edition X-Wing Miniatures is a boardgame centered around building a squad of starships and upgrades. 
      You then fly your squad through an asteroid field while trying to outmaneuver and destroy your opponents squad.
    </p>
    <p>
      List Fortress is a website for collecting and displaying X-Wing Miniatures tournament results. 
    </p>
  </section>

  <section class="col">
    <h3 class="text-center">Tech</h3>

    <p>
      List Fortress is built with Ruby on Rails, PostgreSQL and Bootstrap. 
      <br>
      The source code is available at <%= link_to 'Github', 'https://github.com/AlexRaubach/ListFortress'%> with an MIT license.
      
      List Fortress is currently hosted on Heroku and uses Memcached for caching and Amazon S3 for file storage.
    </p>

    <h3> Acknowledgements </h3>

    <p>
      <ul>
        <li>The Scum and Villainy Podcast</li>
        <li>Sozin: For his advice and encouragement when planning the site</li>
        <li>Chris Allen: For all his tireless work for the community</li>
        <li>Mwhited: </li>
      </ul>
    </p>


  </section>
</div>

</div>