# Create a copy of this file named application.yml and add secrets inside the '' as needed.
# The db credentials are the only set you have to fill out, the rest are optional

db_username: ''
db_password: ''

# Used for user auth for the league
slack_client_id: ''
slack_client_secret: ''
slack_signing_secret: ''

#currently unused but could be an alternitive auth provider
google_client_id: ''
gooogle_client_secret: ''

# used for league log file storage via ActiveStorage
aws_access_key_id: ''
aws_secret_access_key: ''
aws_bucket: ''
aws_region: ''

# helpful env variables you might want. Just uncomment in your application.yml file to enable

# used to disable rails checks that prevent you from dropping your local db.
# DISABLE_DATABASE_ENVIRONMENT_CHECK: '1'

# OMNIAUTH_SLACK_DEBUG: 'true'
