<div class="container">
  <h1 class="text-center">Edit a Match</h1>
  <% if @match.league%>
    <%= render 'leagueform', participant: @match%>
  <% else %>
    <%= render 'form', participant: @match %>
  <% end %>
</div>
