<div class='container'>
<p id="notice"><%= notice %></p>

<h1 class="text-center">League Signups</h1>

<table class="table table-striped">
  <thead>
    <tr>
    <th>Signup number </th>
    <th >Name</th>
    </tr>
  </thead>

  <tbody>
    <% @league_signups.each do |league_signup| %>
      <tr>
        <td><%= league_signup.id %></td>
        <td><%= league_signup.user.display_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>