<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">List Fortress</a>

      <a class="nav-item nav-link align-middle" href="/tournaments">Tournaments <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/league">League</a>

</nav>
